/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* VARIABLES */

:root {
  /* Colors */
  --dark: #190c25;
  --base: #582c83;
  --alt: #b793db;
  --light: #dbc9ed;
  --text: #f3edf9;

  /* Font */
  font-size: 62.5%;
  --title-font: 'Poppins', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  height: 100vh;
  color: var(--text);
  background: var(--dark);
  font: 400 1.6rem var(--title-font);
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--alt);
  border-radius: 20px;
  border: 3px solid var(--dark);
}

.title {
  font: 700 2rem var(--title-font);
  color: var(--dark);
  -webkit-font-smoothing: auto;
}

/* .container {
  margin-left: 2.8rem;
  margin-right: 2.8rem;
} */

.grid {
  display: grid;
  gap: 3.2rem;
}

/* ===== HEADER =============== */

#header {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

header img {
  width: 5rem;
}

/* ==== NAVIGATION ============= */

nav {
  height: 9.5rem;
  padding: 0 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--light);
  position: absolute;
  left: 0;
  bottom: -2.4rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active:after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  left: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 101;
  background: var(--light);
  height: 100vh;
  width: 80vw;
  top: 0;
  left: 0;
  display: grid;
  place-content: start;
  padding-left: 2.8rem;
  padding-top: 3.2rem;
}

nav.show .menu ul {
  display: grid;
}

/* ==== TOGGLE MENU ================== */

.toggle {
  color: var(--alt);
  font-size: 2.4rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 101;
  top: -2.4rem;
  right: 2.8rem;
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 3.5rem;
}

nav.show div.icon-menu {
  visibility: hidden;
  opacity: 0;
}

main {
  width: 100%;
}

/* ==== HOME ================= */

.bg1 {
  width: 100%;
  background-image: url('assets/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#home {
  overflow: hidden;
}

#home .container {
  padding: 0 2.8rem;
  display: grid;
  grid-template-rows: 4fr 1fr 1fr;
  grid-template-areas:
    '.'
    'text';
}

#home .text {
  grid-area: text;
}

#home .text h1 {
  font-size: 3.2rem;
  line-height: 8rem;
}

#home p {
  font-size: 1.8rem;
}

/* ==== PORTFOLIO =============== */

.bg2 {
  width: 100%;
  background-image: url('assets/midia-social.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#portfolio .container {
  margin: 0;
  height: 66.3rem;
  display: grid;
  grid-template-rows: 4fr 2fr;
  grid-template-areas: '.' 'text';
}

#portfolio .text {
  grid-area: text;
  padding-left: 2.8rem;
  padding-top: 2.8rem;
  background: hsla(271, 51%, 10%, 0.8);
}

#portfolio .text h1 {
  font-size: 3.2rem;
}

#portfolio .text a {
  font-size: 2rem;
  color: var(--text);
}

/* ===== BACK TO TOP ============= */
.back-to-top {
  background-blend-mode: exclusion;
  color: var(--text);

  position: fixed;
  right: 1.8rem;
  bottom: 1.8rem;
  padding: 0.8rem;
  clip-path: circle();

  font-size: 2.4rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* ==== MEDIA QUERIES =================== ======================== =======*/
/* ==== MEDIA QUERIES =================== ======================== =======*/
/* ==== MEDIA QUERIES =================== ======================== =======*/
/* ==== MEDIA QUERIES =================== ======================== =======*/
/* ==== MEDIA QUERIES =================== ======================== =======*/
@media (min-width: 900px) {
  .section header {
    max-width: 51.2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* ==== NAVIGATION =============== */
  nav {
    padding: 0 15rem;
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 3.2rem;
  }

  nav .menu ul li a.title {
    color: var(--text);
    font-weight: 400;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  .logo {
    width: 10rem;
  }

  /* ==== HOME ===================== */

  #home .container {
    padding: 0 15rem;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
  }

  #home .text h1 {
    font-size: 5rem;
    line-height: 8rem;
  }

  #home p {
    font-size: 3rem;
  }

  /* ==== PORTFOLIO ================= */
  #portfolio .text {
    padding-left: 15rem;
  }
}
